/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}
/* 
1.Từ ngoài vào trong
2.Từ trên xuống dưới
3.Tổng quan đến chi tiết 
*/

/*
1.Vị Trí
2.Kích thước(width,height)
3.Màu Sắc
4.Kiểu Dáng(Kiểu Chữ,hình gì,...)
*/
.clear{
  clear: both;
}

#main {
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000;
  z-index: 1;
}

#nav {
  display: inline-block;
}

#nav,
.subnav {
  list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative; /*lay the li o More làm goc toa do*/
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav li:hover .subnav {
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
}

#nav .nav-arrow-down {
  font-size: 14px;
}

#header .search-btn {
  float: right;
  padding: 0 21px;
  cursor: pointer;
}

#header .search-btn:hover {
  background-color: #f44336;
}

#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url('/assets/img/slider/chicago.jpg') top center / cover no-repeat;
}

#slider .text-content{
  position: absolute;
  bottom: 47px;
  color: #fff;
  text-align: center;
  /* can giua dung positon */
  left: 50%;
  transform: translateX(-50%); 
}
#slider .text-heading{
  font-weight: 500;
  font-size: 24px;
}
#slider .text-description{
  font-size: 15px;
  margin-top: 25px;
}

#content {

}

#content .content-section{
  width: 800px;
  padding: 64px 0px;
  margin-left: auto;
  margin-right: auto;
}

#content .section-heading{
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px
}

#content .section-sub-heading{
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}

#content .about-text{
  font-size: 15px;
  margin-top: 25px;
  text-align: justify;
  /* tanh 1.4,tviet 1.6 */
  line-height: 1.4;
}

/*  */
#content .members-list{
  margin-top: 48px;
}
#content .member-item{
  float: left;
  width: 33.33333%;
  text-align: center;
}
#content .member-name{
  font-size: 15px;
}
#content .member-img{
  margin-top: 15px;
  width: 154px;
  border-radius: 5px;
}

#footer {
}
